<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020-2021 Dwight Studio's Team <support@dwight-studio.fr>
  ~
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at https://mozilla.org/MPL/2.0/.
  -->

<Configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%-level] [%logger{36}]: %msg%n"/>
            <Filters>
                <ThresholdFilter level="debug"/>
            </Filters>
        </Console>
        <File name="File" fileName="dpt-latest.log" immediateFlush="false" append="false">
            <PatternLayout>
                <Pattern>[%d{HH:mm:ss}] [%t/%-level] [%logger{36}]: %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="Debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>